version: "3.9"

x-common-env: &common-env
  ApiKeys__PaymentApiKey: "super-secret-key-123"
  RUNNING_IN_DOCKER: "true"

services:

  postgres:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  mongo:
    image: mongo:6
    container_name: mongo_db
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    volumes:
      - mongodata:/data/db
    ports:
      - "27017:27017"

  webapi:
    build: ./WebApi
    container_name: web_api
    environment:
      <<: *common-env
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__DefaultConnection: ${WEBAPI_DB}
      PaymentApi__BaseUrl: "http://payment_api:80"
    ports:
      - "5000:80"
      - "5001:443"
    depends_on:
      - postgres
    command: >
      sh -c "dotnet ef database update && dotnet WebApi.dll"

  paymentapi:
    build: ./PaymentApi
    container_name: payment_api
    environment:
      <<: *common-env
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__MongoConnection: ${PAYMENT_DB}
      WebApi__BaseUrl: "http://web_api:80"
    ports:
      - "5002:80"
      - "5003:443"
    depends_on:
      - mongo

volumes:
  pgdata:
  mongodata:
